[Unit]
Description=backstage
After=network.target

[Service]
Type=simple
WorkingDirectory=/backstage/{{APP_NAME}}
Environment="GITHUB_TOKEN={{GITHUB_TOKEN}}"
Environment="POSTGRES_HOST={{POSTGRES_HOST}}"
Environment="POSTGRES_PORT={{POSTGRES_PORT}}"
Environment="POSTGRES_USER={{POSTGRES_USER}}"
Environment="POSTGRES_PASSWORD={{POSTGRES_PASSWORD}}"
ExecStart=yarn dev
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
